[submodule "src/freespa"]
	path = src/freespa
	url = git@jugit.fz-juelich.de:pearl-project/freespa.git
[submodule "src/HDF5"]
	path = src/HDF5
	url = git@jugit.fz-juelich.de:pearl-project/ssdp_hdf5_extention.git
